.right-s-nav {
    color: black;
}
.right-s-nav:hover {
    color: grey;
}
.card {
    border: none;
}
.container{
  background-color: #fafafa;
  padding: 5%;
  border-left: solid 1pt #e9ecef;
  border-right: solid 1pt #e9ecef;
}
.image-upload > input {
    display: none;
}
.image-upload img {
	cursor: pointer; /* "hand" cursor */
}
.card{
  background: none;
}
body{
  background-image: url("../images/background25.png");
  background-size: cover;
  background-attachment: fixed;
}
.nav{
  border-bottom: solid 1pt #e9ecef;
  background-color: white;
}


.box {
  margin: auto;
  width: 80%;
  max-width: 600px;
  
}

.box div {
  width: fit-content;
  margin: auto;

}

.profile {
  height: 170px ;
  width: 170px;
  object-fit: cover;
}