.right-s-nav {
    color: black;/* default is dark-blue*/
}
.right-s-nav:hover {
    color: grey;/*default is blue*/
}
.card {
    border: none;
}
.image-upload > input {
    display: none;
}
.image-upload img {
	cursor: pointer; /* "hand" cursor */
}