#task-container {
  display: grid;
  /*background-color: rgb(222, 242, 248);*/
  /*padding-top: 10pt;*/
  visibility: hidden;
  width: 80%;
  min-width: 600px;
  
}
#task-container .task-row{
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
#task-container .task-check {
  grid-column: 1 / span 1;
}
#task-container .task-text {
  grid-column: 2 / span 1;
}
#task-container .task-del {
  grid-column: 3 / span 1;
  text-align: right;
}
.task-delete-all {
  grid-column: 1 / span 2;
}

.task-row:hover{
  transform: scaleY(105%);
}
@media(max-width:600px){
  #task-container{
    width: 100%;
    min-width: 100%;
  }
}