#task-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: rgb(222, 242, 248);
  padding-top: 10pt;
  visibility: hidden;
}
#task-container .task-check {
  grid-column: 1 / span 1;
}
#task-container .task-text {
  grid-column: 2 / span 1;
}
#task-container .task-del {
  grid-column: 3 / span 1;
  text-align: right;
}